<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>

<body>
    <div id="accueil">
        <div id="titre-accueil">
            <h1 class="titre-accueil">Game Expert</h1>
            <img class="logo-accueil" src="../img/Logo_principal.png" alt="Logo_principal">
        </div>
        <div class="div-bouton-demarrer">
            <button class="bouton-demarrer button" type="button" onclick="demarrer()">Démarrer</button>
        </div>
    </div>
    <div class="div-footer">
        <footer>© 2025 | Isaïe Merminod, apprenti en 1<sub>re</sub> année de la Junior Team | Groupement Romand de
            l'Informatique | Suisse | Tous droits réservés.</footer>
    </div>

    <script src="/script/script.js"></script>
</body>

</html>