<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
    <title>Game Over</title>
</head>
<div class="divgo">

    <body onload="pagego()" class="go">
        <div class="container">
            <img class="coeur" id="coeur1" src="../img/heart.png" alt="coeur">
            <img class="coeur" id="coeur2" src="../img/heart.png" alt="coeur">
            <img class="coeur" id="coeur3" src="../img/heart.png" alt="coeur">
        </div>
        <span class="bars">
            <span class="bars" id="bars">
                <div id="progress-ow" class="progress-ow">
                    <div id="bar-ow" class="bar-ow"></div>
                </div>
                <div id="progress-fps" class="progress-fps">
                    <div id="bar-fps" class="bar-fps"></div>
                </div>
                <div id="progress-mv" class="progress-mv">
                    <div id="bar-mv" class="bar-mv"></div>
                </div>
            </span>
            <span class="pts" id="pts">
                <p id="pts-ow" class="pts-ow">0 pts</p>
                <p id="pts-fps" class="pts-fps">0 pts</p>
                <p id="pts-mv" class="pts-mv">0 pts</p>
            </span>
        </span>
        <div>
            <h1 class="neon" data-text="U">G<span class="flicker-slow">A</span>ME<span
                    class="flicker-fast">-</span>O<span class="flicker-slow">V</span>E<span
                    class="flicker-fast">R</span></h1>
        </div>
        <p class="pgo2" id="score"></p>
        <p class="pgo3" id="bestof3"></p>
        <p class="pgo1" id="bestscore"></p>

        <div class="divrejouergo">
            <button class="rejouer" onclick="rejouer()">Rejouer</button>
        </div>
</div>
</body>
<script src="../script/script.js"></script>

</html>