<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu FPS</title>
  <link rel="stylesheet" href="../style/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
</head>

<body id="jeufps" class="jeufps jeu">
  <div class="container">
    <img class="coeur" id="coeur1" src="../img/heart.png" alt="coeur">
    <img class="coeur" id="coeur2" src="../img/heart.png" alt="coeur">
    <img class="coeur" id="coeur3" src="../img/heart.png" alt="coeur">
  </div>
  <span class="bars">
    <span class="bars" id="bars">
      <div id="progress-ow" class="progress-ow">
        <div id="bar-ow" class="bar-ow"></div>
      </div>
      <div id="progress-fps" class="progress-fps">
        <div id="bar-fps" class="bar-fps"></div>
      </div>
      <div id="progress-mv" class="progress-mv">
        <div id="bar-mv" class="bar-mv"></div>
      </div>
    </span>
    <span class="pts" id="pts">
      <p id="pts-ow" class="pts-ow">0 pts</p>
      <p id="pts-fps" class="pts-fps">0 pts</p>
      <p id="pts-mv" class="pts-mv">0 pts</p>
    </span>
  </span>
  <div class="overlay">
    <p class="essai" id="essai1">Essai n° 1/3</p>
    <div>
      <h1 class="h1fps h1"></h1>
      <div class="divimage">
        <img class="ImageFPS image" alt="FPS">
      </div>
      <h2 class="h2fps h2"></h2>
      <label class="radiofps allradio">
        <p class="pfps p1 p"></p><input class="radio" id="radio1" name="radio" type="radio"><span
          class="checkmarkfps1 checkmark1"></span>
      </label>
      <label class="radiofps allradio">
        <p class="pfps p2 p"></p><input class="radio" id="radio2" name="radio" type="radio"><span
          class="checkmarkfps2 checkmark2"></span>
      </label>
      <label class="radiofps allradio">
        <p class="pfps p3 p"></p><input class="radio" id="radio3" name="radio" type="radio"><span
          class="checkmarkfps3 checkmark3"></span>
      </label>
      </p>
    </div>
    <div class="validerbtn">
      <button class="validerfps valider" onclick="valider()">Valider</button>
    </div>
  </div>
  <div class="overlay">
    <p class="essai" id="essai2">Essai n° 1/3</p>
    <div>
      <h1 class="h1fps h1"></h1>
      <div class="divimage">
        <img class="ImageFPS image" alt="FPS">
      </div>
      <h2 class="h2fps h2"></h2>
      <input id="textarea" class="textareafps textarea" type="text" autocomplete="off">
    </div>
    <div class="validerbtn">
      <button class="validerfps valider" onclick="valider()">Valider</button>
    </div>
  </div>
  <div class="tp">
    <div class="popup popupfps">
      <p class="popuptxt popuptxtfps">Répondez encore à 10 questions avant d'accéder au prochain niveau.</p>
    </div>
    <span onclick="chargement()"><img class="tpimg tpimgfps" src="../img/portail-2.png" alt="portail"></span>
  </div>
  <div id="question11">
    <span id="10" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question12">
    <span id="11" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question13">
    <span id="12" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question14">
    <span id="13" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question15">
    <span id="14" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question16">
    <span id="15" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question17">
    <span id="16" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question18">
    <span id="17" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question19">
    <span id="18" onclick="questions(this.id)"><img class="cible" src="/img/rouge.png" alt="bouton"></span>
  </div>
  <div id="question20">
    <span id="19" class="text" onclick="questions(this.id, this.className)"><img class="cible" src="/img/rouge.png"
        alt="bouton"></span>
  </div>
  <script src="../script/script.js"></script>
</body>

</html>