<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
  <title>Victoire</title>
</head>

<body class="bodyvictoire">
  <div class="wrapper">
    <div class="bg">Victoire</div>
    <div class="fg">Victoire</div>
    <div onclick="rejouer()" class="btn-wrapper">
      <button class="under-btn">REJOUER</button>
      <button class="gold-btn">REJOUER</button>
    </div>
  </div>
  <div onclick="stats()">
    <button class="stats" id="stats">Statistiques</button>
  </div>
  <div class="overlayVictoire" id="MyNavVictoire">
    <div class="containerv">
      <p onclick="closeoverlay()" class="close">x</p>
      <p class="victoire2" id="score">a</p>
      <p class="victoire3" id="bestof3">a</p>
      <div class="div-MeilleurScore">
        <p class="victoire1">Meilleur score:</p>
        <p class="MeilleurScore" id="bestscorev">a</p>
      </div>
    </div>
  </div>

</body>
<script src="../script/script.js"></script>

</html>