<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body class="bodyvictoire">
  <div class="container">
    <img class="coeur" id="coeur1" src="../img/heart.png" alt="coeur">
    <img class="coeur" id="coeur2" src="../img/heart.png" alt="coeur">
    <img class="coeur" id="coeur3" src="../img/heart.png" alt="coeur">
  </div>
  <span class="bars">
    <span class="bars" id="bars">
      <div id="progressow" class="progressow">
        <div id="barow" class="barow"></div>
      </div>
      <div id="progressfps" class="progressfps">
        <div id="barfps" class="barfps"></div>
      </div>
      <div id="progressmv" class="progressmv">
        <div id="barmv" class="barmv"></div>
      </div>
    </span>
    <span class="pts" id="pts">
      <p id="ptsow" class="ptsow">0 pts</p>
      <p id="ptsfps" class="ptsfps">0 pts</p>
      <p id="ptsmv" class="ptsmv">0 pts</p>
    </span>
  </span>
  <div class="wrapper">
    <div class="bg">Victoire</div>
    <div class="fg">Victoire</div>
    <div onclick="rejouer()" class="btn-wrapper">
      <button class="under-btn">REJOUER</button>
      <button class="gold-btn">REJOUER</button>
    </div>
  </div>
  <div onclick="stats()">
  <button class="stats" id="stats">Statistiques</button>
  </div>
  <div class="overlayVictoire" id="MyNavVictoire">
    <div class="containerv">
<p onclick="closeoverlay()" class="close">x</p>
    <p class="victoire2" id="score">a</p>
        <p class="victoire3" id="bestof3">a</p>
        <div class="div-MeilleurScore">
    <p class="victoire1">Meilleur score:</p>
    <p class="MeilleurScore" id="bestscorev">a</p>
    </div>
    </div>
  </div>
</body>
<script src="../script/script.js"></script>

</html>